<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body"></div>

			<h4 class="card-title">
				<a class="btn btn-light btn-xs" th:href="@{/ver//}+${factura.cliente.id}">&laquo; Volver</a>
			</h4>


			<form th:action="@{/factura/crearFactura}" th:object="${factura}" method="post">

				<div class="form-group row">
					<label class=" col-sm-2 col-form-label">Cliente</label>
					<div class="col-sm-6">
						<input th:value="${factura.cliente.nombre}+ ' ' + ${factura.cliente.apellido}" class="form-control" disabled="disabled" />
					</div>
				</div>



				<div class="form-group row">
					<label class=" col-sm-2 col-form-label">Descripción</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'" />
						<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
					</div>
				</div>


				<div class="form-group row">
					<label class=" col-sm-2 col-form-label">Observación</label>
					<div class="col-sm-6">
						<textarea th:field="*{observacion}" class="form-control" th:errorclass="'form-control alert-danger'"></textarea>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label class=" col-sm-2 col-form-label">Buscar producto</label>
					<div class="col-sm-6">
						<input id="buscar_producto" name="buscar_producto" type="text" class="form-control" />
					</div>
				</div>

				<table th:replace="factura/plantilla_items :: itemsFactura">
				</table>

				<table id="cargarItemsProductos" class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
							<th>Eliminar</th>
						</tr>

					</thead>
					<tbody></tbody>
				</table>


				<h5>
					Total: <span id="granTotal" class="badge badge-secondary"></span>
				</h5>



				<div class="form-group">
					<div class="col-sm-6">
						<input type="submit" value="Crear factura" class="btn btn-secondary" />
					</div>
				</div>

			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete_productos :: javascript"></script>
</body>
</html>