<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<table th:fragment="itemsFactura" class="d-none">

		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<td class="d-none"><input type="hidden" value="{ID}" name="item_id[]" /></td>
				<td>{NOMBRE}</td>
				<td>{PRECIO}</td>
				<td><input id="cantidad_{ID}" type="number" value="1" name="cantidad[]" class="form-control col-sm-4" onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);" /></td>
				<td><span id="total_importe_{ID}">0</span></td>
				<td>
				<a class="btn btn-danger btn-xs" onclick="itemsHelper.eliminarLineaFactura({ID});">x</a>
				</td>
			</tr>

		</tbody>


	</table>

</body>
</html>